@use "../../styles/index" as styles;

.title {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 56px;
  color: styles.$color-primary;
  position: absolute;
  top: 170px;
  margin-bottom: 0;
  left: 80px;
  width: 353px;
  line-height: 120%;
  min-width: 353px;
  margin-block-start: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;
    min-width: 5px;
    height: 134px;
    background: linear-gradient(
      to bottom,
      styles.$color-accent,
      styles.$color-secondary
    );
  }

  @media screen and (width <= styles.$breakpoint-mobile) {
    position: static;
    left: 0;
    margin-top: 39px;
    font-size: 20px;
    max-width: 123px;
    min-width: auto;
    &::before {
      display: none;
    }
  }
}
